* {
  transition: all 0.2s;
}
@media only screen and (max-width: 1580px) {
  .flex {
    margin-top: 50px;
    margin-bottom: 200px;
  }

  .box {
    width: 320px;
    height: 220px;
  }
}
@media only screen and (max-width: 1280px) {
  .flex {
    margin-top: 50px;
    margin-bottom: 200px;
  }

  .box {
    width: 220px;
    min-height: 220px;
  }
  .box h1 {
    margin-top: 23px;
    font-size: 54px;
  }
  .box h3 {
    font-size: 18px;
    margin-bottom: 4px;
  }
  .box hr {
    width: 160px;
    margin-left: 30px;
  }
  .first-scr-text {
    width: 730px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .wrapper {
    width: 750px;
    margin: auto;
  }

  .flex {
    margin-top: 10px;
  }

  .box {
    width: 100px;
    min-height: 100px;
    height: 110px;
  }
  .box h1 {
    margin-top: -20px;
    font-size: 34px;
    margin-bottom: -30px;
  }
  .box h3 {
    font-size: 16px;
    margin-top: -15px;
  }
  .box hr {
    width: 100px;
    margin-left: 0px;
  }
  .first-scr-text {
    width: 730px;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 760px) {
  .navigation {
    margin-right: 0px;
  }
  .PORTEN {
    font-size: 36px;
    color: #ffffff;
    margin-left: 0px;
  }
  .navigation a {
    font-size: 12px;
    padding: 31px 10px;
  }

  .flex {
    margin-top: 5px;
  }

  .box {
    width: 100px;
    min-height: 100px;
    height: 110px;
  }
  .box h1 {
    margin-top: -20px;
    font-size: 34px;
    margin-bottom: -30px;
  }
  .box h3 {
    font-size: 16px;
    margin-top: -15px;
  }
  .box hr {
    width: 100px;
    margin-left: 0px;
  }
  .first-scr-text {
    width: 520px;
    margin-top: 10px;
    font-size: 14px;
    line-height: 14px;
  }
}
